extends partials/layout

//- Override default config variables
append config
  - var parentMenu = 'Pages'
  - var pageTitle = '404 Error'
  - var isPageFullHeight = true
  - var noIndex = true


//- Navbar
block navbar
  include partials/navbar-solid-shadow


//- Page Content
block content
  .container.d-flex.flex-column.justify-content-center.pt-5.mt-n6(style='flex: 1 0 auto;')
    .pt-7.pb-5
      .text-center.mb-2.pb-4
        h1.mb-5
          img(src='img/404/ice-5427087_640.jpg' alt='Ice cream cone melting on the ground').d-inline-block
          span.visually-hidden Error 404
        h2 That's a real bummer
        p.pb-2 404 error - It seems we can’t find the page you're looking for
        a(href='/').btn.btn-translucent-primary.me-3 Go to homepage


//- Footer
block footer
  include partials/footer-default