extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = [ 'tiny-slider/dist/tiny-slider.css', 'lightgallery.js/dist/css/lightgallery.min.css', 'add-to-calendar-button/assets/css/atcb.min.css']
  - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'lightgallery.js/dist/js/lightgallery.min.js', 'lg-fullscreen.js/dist/lg-fullscreen.min.js', 'lg-zoom.js/dist/lg-zoom.min.js', 'add-to-calendar-button/assets/js/atcb.min.js']
  - var parentMenu = 'Activities'
  - var pageTitle = '5k Banana Run'

//- Navbar
block navbar
  include partials/navbar-solid-shadow

//- Page Content
block content
  section.sidebar-enabled.sidebar-end
    .container
      .row

        // Project description
        .col-lg-4.sidebar.order-lg-2
          .px-sm-4.pt-6.py-lg-6.position-relative.zindex-5
            .small.text-body.my-0.py-0 Robindale Energy
            h1.h2 5k Banana Run
            a(href="https://www.active.com/latrobe-pa/running/distance-running-races/5k-banana-run-2022").btn.btn-success.btn-sm.ms-auto.mx-3.mb-3.d-inline-block Online Registration
            a(href="pdf/2022-5k-banana-run.pdf").btn.btn-outline-primary.btn-sm.ms-auto.mx-3.mb-3.d-inline-block Paper Form
            btn.btn.btn-translucent-dark.btn-sm.ms-auto.mx-3.mb-3.d-inline-block#atcb #[i.far.fa-calendar-plus.pe-2] Add to Calendar
            script.
              const config = {
                name: "5k Banana Run",
                description: "Packet pickup starts at 7:30 AM in the stadium concession stand. Race begins at 9 AM on Memorial Drive with the finish line inside the stadium.<br>→ [url]https://bananasplit.run[/url]",
                startDate: "2022-08-20",
                startTime: "09:00:00",
                endDate: "2022-08-20",
                endTime: "11:00:00",
                timeZone: "America/New_York",
                location: "Latrobe Memorial Stadium, Latrobe, PA 15650",
                trigger: "click",
                options: [
                  "Google",
                  "iCal",
                  "Outlook.com",
                  "Yahoo"
                ],
                iCalFileName: "5k-Banana-Run",
              };
              const button = document.querySelector('#atcb');
              button.addEventListener('click', () => atcb_action(config, button));
            a(href='#gallery' data-scroll).btn.btn-translucent-primary.btn-sm.ms-auto.mx-3.mb-3.d-inline-block.d-lg-none Gallery
            .d-sm-flex.align-items-center.pt-3.pb-2.mb-5.border-bottom.fs-sm

            h3.h5 Details
            ul.list-unstyled.fs-md.mb-4.pb-2
              li.mb-2
                | Date:
                span.fw-medium.text-nav.ms-2 August 20, 2022
              li.mb-2
                | Time:
                span.fw-medium.text-nav.ms-2 Race starts at 9AM
              li.mb-2
                | Check-in:
                span.fw-medium.text-nav.ms-2 Starts at 7:30AM
              li.mb-2
                | Location:
                span.fw-medium.text-nav.ms-2 Latrobe Memorial Stadium
              li
                | Cost:
                span.fw-medium.text-nav.ms-2 $25 / $30 after August 9
            h3.h5 Race Information
            p.fs-sm.mb-4.pb-2 The 5k Banana Run course has participants touring through historic downtown Latrobe. Racers can enter into the runner or walker category with prizes being awarded for the top male/female finishers overall and in each category by age bracket.
            h3.h5 Age Brackets
            p.fs-sm.mb-4.pb-2 Under 10, 10-19, 20-29, 30-39, 40-49, 50-59, 60+
            h3.h5 Race Route
            ul.list-group-numbered.fs-md
              li.mb-2
                | START ~ Memorial Dr
              li.mb-2
                | RIGHT ~ Chestnut Street
              li.mb-2
                | LEFT ~ Jefferson Street
              li.mb-2
                | RIGHT ~ Oak Street – STAY RIGHT
              li.mb-2
                | LEFT ~ Ligonier Street
              li.mb-2
                | RIGHT ~ E 1st Avenue
              li.mb-2
                | LEFT ~ Penn Avenue
              li.mb-2
                | LEFT ~ Tacoma Avenue
              li.mb-2
                | WATER STATION
              li.mb-2
                | LEFT ~ Ligonier Street
              li.mb-2
                | RIGHT ~ Oak Street – STAY RIGHT
              li.mb-2
                | LEFT ~ Jefferson Street
              li.mb-2
                | RIGHT ~ Chestnut St. Extension
              li.mb-2
                | LEFT ~ Memorial Drive ~ Past Start
              li.mb-2
                | RIGHT ~ Irving Avenue
              li.mb-2
                | PAST ~ Tennis & Volleyball Courts
              li.mb-2
                | RIGHT ~ Stadium Parking Lot Ramp
              li.mb-2
                | RIGHT ~ At the Top of the Ramp
              li.mb-2
                | LEFT ~ Into the Stadium Gates
              li.mb-2
                | STRAIGHT ~ onto the TRACK to the FINISH
                
            h3.h5 Sponsors
            ul.list-unstyled.fs-md.mb-4.pb-2
              li.mb-2
                | Robindale Energy
              li.mb-2
                | GLSD - Latrobe Parks &amp; Recreation
              li.mb-2
                | GLLV Chamber of Commerce
              li.mb-2
                | Valley Dairy Restaurants
              li.mb-2
                | Loyalhanna Continuing Care Center
              li.mb-2
                | NexTier Bank
              li.mb-2
                | Quatrini Rafferty
              li.mb-2
                | Latrobe Country Club
              li.mb-2
                | AmeriServ Bank
              li.mb-2
                | ArTech Group
              li.mb-2
                | State Farm Agent Chris Beddick
              li.mb-2
                | A Teague of Your Own
              li.mb-2
                | LawnRx
              li.mb-2
                | Touchdown Club II
        

        // Project gallery (List)
        #gallery.col-lg-8.content.pb-lg-4.order-lg-1
          .gallery.pt-5.pb-4.py-lg-5
            a(href='img/5k-banana-run/2022-shirt-thumb.png').gallery-item.rounded-3.mb-grid-gutter
              img(src='img/5k-banana-run/2022-shirt.png' alt='2022 Race Shirt')
            a(href='img/5k-banana-run/2022-5k-race-route.png').gallery-item.rounded-3.mb-grid-gutter
              img(src='img/5k-banana-run/2022-5k-race-route.png' alt='2022 5k Banana Run Race Route')
            a(href='img/5k-banana-run/awards-ceremony.jpg').gallery-item.rounded-3.mb-grid-gutter
              img(src='img/5k-banana-run/awards-ceremony-thumb.jpg' alt='Male finisher receiving award')
            a(href='img/5k-banana-run/racers-banana-costumes.jpg').gallery-item.rounded-3.mb-grid-gutter
              img(src='img/5k-banana-run/racers-banana-costumes-thumb.jpg' alt='Female racers in banana costumes')



//- Footer
block footer
  include partials/footer-default