extends partials/layout

//- Override default config variables
append config
    - var vendorStyles = ['tiny-slider/dist/tiny-slider.css', 'lightgallery.js/dist/css/lightgallery.min.css']
    - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'lightgallery.js/dist/js/lightgallery.min.js', 'lg-video.js/dist/lg-video.min.js']
    - var parentMenu = 'Attend'
    - var pageTitle = 'Attend'

//- Navbar
block navbar
    include partials/navbar-solid-shadow

//- Page Content
block content

    // Content
    .container
        .row.justify-content-center
            .col-lg-9
                .mt-lg-7.mt-sm-3(style='max-width: 38rem;')
                    h1 Attend the Celebration
                    p.fs-4 The sweetest event this summer
        
        .row.justify-content-center
            .col-lg-9.py-4
                .row.position-relative.g-0.align-items-center.border-top.border-bottom.mb-4
                    .col.py-3.pe-md-3
                        p The #[a(href="https://www.latrobelaurelvalley.org/",target="_blank") Greater Latrobe - Laurel Valley Chamber of Commerce] and #[a(href="https://cityoflatrobe.com", target="_blank") City of Latrobe] are excited to welcome guests back to the Great American Banana Split Celebration in 2021! This year's event will be scaled back to a single day and return to a full weekend next year. Gather up the family and invite friends to come out and join you in Latrobe's Legion Keener Park to enjoy a banana split.

    
    // Topics grid
    section.container.mt-4.pt-2.mt-md-0.pt-md-4.pb-5
        h2.mb-5.text-center Event Information
        .row.justify-content-around
            .col-lg-4.col-sm-6.mb-grid-gutter
                .card
                    .card-body
                        a#faq-2021-location
                        h5.card-title
                            | Where is the event located for 2021?
                        p.card-text.fs-sm
                            | The celebration will be located inside Legion&nbsp;Keener&nbsp;Park<br />
                            | 1658 Catherine Street<br />Latrobe, PA 15650
                        a(href="https://goo.gl/maps/tMneg4dGqryNfCnR8", target="_blank").btn.btn-outline-primary Google Map
            .col-lg-4.col-sm-6.mb-grid-gutter
                .card
                    .card-body
                        a#faq-2021-date
                        h5.card-title
                            | When is the event for 2021?
                        p.card-text.fs-sm
                            | The celebration will be a single-day on August&nbsp;21,&nbsp;2021.
            .col-lg-4.col-sm-6.mb-grid-gutter
                .card
                    .card-body
                        a#faq-2021-parking
                        h5.card-title
                            | Where can I park?
                        p.card-text.fs-sm
                            | FREE parking is available at Latrobe Memorial Stadium.
                        a(href="https://goo.gl/maps/CV2MnyydE5i12CJK8", target="_blank").btn.btn-outline-primary Google Map
            .col-lg-4.col-sm-6.mb-grid-gutter
                .card
                    .card-body
                        a#faq-2021-handicap
                        h5.card-title
                            | Is handicap parking available?
                        p.card-text.fs-sm
                            | Yes, follow the signs on Chestnut Street as you approach the park for designated handicap parking.
            .col-lg-4.col-sm-6.mb-grid-gutter
                .card
                    .card-body
                        a#faq-2021-hours
                        h5.card-title
                            | What are the hours of the event?
                        p.card-text.fs-sm
                            | Most activities will open at 11 AM and run until 8:30 PM.
                        a(href="schedule.html").btn.btn-outline-primary Schedule
            .col-lg-4.col-sm-6.mb-grid-gutter
                .card
                    .card-body
                        a#faq-2021-pets
                        h5.card-title
                            | Can I bring my dog or other pet?
                        p.card-text.fs-sm
                            | City ordinance and park rules unfortunately don't allow for animals that aren't part of our official activity. Service animals are welcome.
            .col-lg-4.col-sm-6.mb-grid-gutter
                .card
                    .card-body
                        a#faq-2021-ccards
                        h5.card-title
                            | Are credit/debit cards accepted?
                        p.card-text.fs-sm
                            | This is up to the individual vendor where you are making a purchase. The majority do accept cards.
                        a(href="https://www.google.com/maps/search/ATM/@40.3116387,-79.3940146,15z/data=!4m2!2m1!6e2", target="_blank").btn.btn-outline-primary Find an ATM   
            .col-lg-4.col-sm-6.mb-grid-gutter
                .card
                    .card-body
                        a#faq-2021-packing-list
                        h5.card-title
                            | Should I bring anything specifc?
                        p.card-text.fs-sm
                            | Watch the weather forecast and plan on wearing appropriate clothes. While there are trees in the park, you will want to pack sunscreen.
                        a(href="https://www.accuweather.com/en/us/latrobe/15650/weather-forecast/345464",target="_blank").btn.btn-outline-primary Latrobe Weather
            .col-lg-4.col-sm-6.mb-grid-gutter
                .card
                    .card-body
                        a#faq-2021-packing-list
                        h5.card-title
                            | Are there any restrictions or special rules at Legion Keener Park?
                        p.card-text.fs-sm
                            | Yes. Latrobe-GLSD Parks &amp; Recreation has rules that will be enforced throughout the event. These are in addition to our event guidelines and all applicable laws.
                        a(href="http://www.latroberecreation.org/legionkeenerpark.html",target="_blank").btn.btn-outline-primary Park Rules




    // CTA
    section.bg-secondary.bg-size-cover.py-5.py-md-6.mb-2.mb-lg-5(style='background-image: url(img/demo/business-consulting/cta-bg.png);')
        .container.py-3.py-md-0
            .row.align-items-center
                .col
                    h2.text-center.pb-1 Get the Inside Scoop
                    p.text-center Enter your email address to get updates on future events
                .col-lg-6
                    form(action="https://bananasplitfest.us17.list-manage.com/subscribe/post?u=130529bf4626796b734d2d6aa&amp;id=dcc82d196b", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate).subscription-form.validate
                        .input-group.flex-nowrap
                            i.ai-mail.position-absolute.top-50.translate-middle-y.text-muted.fs-base.ms-3
                            input(type="email", name="EMAIL", placeholder="Your email", required).form-control.rounded-start
                            button(type="submit", name="subscribe").btn.btn-primary Subscribe
                        // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                        div(style="position: absolute; left: -5000px;" aria-hidden="true")
                            input(type="text", name="b_130529bf4626796b734d2d6aa_dcc82d196b", tabindex="-1").subscription-form-antispam
                        .subscription-status






//- Footer
block footer
    include partials/footer-default