extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = [ 'tiny-slider/dist/tiny-slider.css', 'lightgallery.js/dist/css/lightgallery.min.css', 'add-to-calendar-button/assets/css/atcb.min.css']
  - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'lightgallery.js/dist/js/lightgallery.min.js', 'lg-fullscreen.js/dist/lg-fullscreen.min.js', 'lg-zoom.js/dist/lg-zoom.min.js', 'add-to-calendar-button/assets/js/atcb.min.js']
  - var parentMenu = 'Activities'
  - var pageTitle = 'Blood Drive'

//- Navbar
block navbar
  include partials/navbar-solid-shadow

//- Page Content
block content
  section.sidebar-enabled.sidebar-end
    .container
      .row

        // Project description
        .col-lg-4.sidebar.order-lg-2
          .px-sm-4.pt-6.py-lg-6.position-relative.zindex-5
            h1.h2 Blood Drive
            a(href='https://www.redcrossblood.org/give.html/drive-results?zipSponsor=bananasplit', target="_blank").btn.btn-outline-primary.btn-sm.ms-auto.mx-3.mb-3.d-inline-block Register to Donate
            btn.btn.btn-translucent-dark.btn-sm.ms-auto.mx-3.mb-3.d-inline-block#atcb Add to Calendar
            script.
              const config = {
                name: "Banana Split Blood Drive",
                description: "Donate life saving blood with the American Red Cross:<br>→ [url]https://www.redcrossblood.org/give.html/drive-results?zipSponsor=bananasplit[/url]",
                startDate: "2022-08-19",
                startTime: "11:00:00",
                endDate: "2022-08-19",
                endTime: "16:00:00",
                timeZone: "America/New_York",
                location: "130 Depot St, Latrobe, PA 15650",
                trigger: "click",
                options: [
                  "Google",
                  "iCal",
                  "Outlook.com",
                  "Yahoo"
                ],
                iCalFileName: "Blood-Drive",
              };
              const button = document.querySelector('#atcb');
              button.addEventListener('click', () => atcb_action(config, button));

            a(href='#gallery' data-scroll).btn.btn-translucent-primary.btn-sm.ms-auto.mx-3.mb-3.d-inline-block.d-lg-none Gallery
            .d-sm-flex.align-items-center.pt-3.pb-2.mb-5.border-bottom.fs-sm

                        //-   .d-flex.align-items-center.mb-3
            //-     .text-nowrap.text-muted.me-3
            //-       i.ai-calendar.me-1
            //-       span Aug 28, 2020
            //-     .text-nowrap.text-muted
            //-       i.ai-tag.me-1
            //-       span 3D Modelling
            h3.h5 Details
            ul.list-unstyled.fs-md.mb-4.pb-2
              li.mb-2
                | Date:
                span.fw-medium.text-nav.ms-2 Friday, August 19
              li.mb-2
                | Time:
                span.fw-medium.text-nav.ms-2 11 AM - 4 PM
              li
                | Location:
                span.fw-medium.text-nav.ms-2 Westmoreland County Community College - Latrobe campus (130 Depot St)
            
            h3.h5 Donate blood, save a life

            p.fs-sm.mb-2 Each pint of blood we collect can help save up to three lives and will touch the lives of so many more.What a great way to pay it forward and make an impact on people in our community and across the country. We are very excited to have this drive and we hope you are too! 

            h3.h5 Sponsors
            ul.list-unstyled.fs-md.mb-4.pb-2
              li.mb-2
                | American Red Cross
              li.mb-2
                | Westmoreland County Community College
              li.mb-2
                | Robindale Energy
              li.mb-2
                | GLLV Chamber of Commerce
              li.mb-2
                | Valley Dairy Restaurants
        

        // Project gallery (List)
        #gallery.col-lg-8.content.pb-lg-4.order-lg-1
          .gallery.pt-5.pb-4.py-lg-5
            a(href='img/blood-drive/all-blood-types-needed.png').gallery-item.rounded-3.mb-grid-gutter
              img(src='img/blood-drive/all-blood-types-needed.png' alt='All blood types needed')

//- Footer
block footer
  include partials/footer-default