extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = [ 'tiny-slider/dist/tiny-slider.css', 'lightgallery.js/dist/css/lightgallery.min.css']
  - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'lightgallery.js/dist/js/lightgallery.min.js', 'lg-fullscreen.js/dist/lg-fullscreen.min.js', 'lg-zoom.js/dist/lg-zoom.min.js']
  - var parentMenu = 'Activities'
  - var pageTitle = 'Car Show'

//- Navbar
block navbar
  include partials/navbar-solid-shadow

//- Page Content
block content
  section.sidebar-enabled.sidebar-end
    .container
      .row

        // Project description
        .col-lg-4.sidebar.order-lg-2
          .px-sm-4.pt-6.py-lg-6.position-relative.zindex-5
            h1.h2 Car Show
            a(href='https://dashboard.bananasplitfest.com/car-show-registration/', target="_blank").btn.btn-primary.btn-sm.ms-auto.mx-3.mb-3.d-inline-block Register Online <small>- Available 7/19</small>
            a(href='/pdf/2021-car-show-reg.pdf', target="_blank").btn.btn-outline-primary.btn-sm.ms-auto.mx-3.mb-3.d-inline-block Paper Form <small>- Available 7/19</small>
            a(href='#gallery' data-scroll).btn.btn-translucent-primary.btn-sm.ms-auto.mx-3.mb-3.d-inline-block.d-lg-none Gallery
            .d-sm-flex.align-items-center.pt-3.pb-2.mb-5.border-bottom.fs-sm

            //-   .d-flex.align-items-center.mb-3
            //-     .text-nowrap.text-muted.me-3
            //-       i.ai-calendar.me-1
            //-       span Aug 28, 2020
            //-     .text-nowrap.text-muted
            //-       i.ai-tag.me-1
            //-       span 3D Modelling
            h3.h5 Details
            ul.list-unstyled.fs-md.mb-4.pb-2
              li.mb-2
                | Date:
                span.fw-medium.text-nav.ms-2 August 21, 2021
              li.mb-2
                | Time:
                span.fw-medium.text-nav.ms-2 Noon - 4PM
              li.mb-2
                | Location:
                span.fw-medium.text-nav.ms-2 Legion Keener Parking Lot
              li
                | Cost per Entry:
                span.fw-medium.text-nav.ms-2 $10
            h3.h5 Show Information
            p.fs-sm.mb-2.pb-1 Our car show is for a good cause! Not only will guests enjoy seeing a variety of cars, trucks, and motorcyles but you'll also get to support the amazing efforts of Relay for Life - Latrobe's efforts to stamp out cancer. Prizes will be awarded in each registration class, "Best of Show," and "Kid's Choice." 
            p.fs-sm.mb-4.pb-2 Dash plaques are available for the first 100 cars. Register online or by printing and mailing in the form.
            h3.h5 Categories
            p.fs-sm.mb-4.pb-2 Antique, Antique Import, Chrysler/Mopar, Corvette, Ford, GM, Import, Mini, Motorcycle, Mustang, Special Interest, Street Rod, and Truck
            h3.h5 Sponsors
            ul.list-unstyled.fs-md.mb-4.pb-2
              li.mb-2
                | Relay for Life - Latrobe
              li.mb-2
                | State Farm Agent Sarah Crispin-Thomas
              li.mb-2
                | GLLV Chamber of Commerce
              li.mb-2
                | Valley Dairy Restaurants

        

        // Project gallery (List)
        #gallery.col-lg-8.content.pb-lg-4.order-lg-1
          .gallery.pt-5.pb-4.py-lg-5
            a(href='img/car-show/car-show-blue.jpg').gallery-item.rounded-3.mb-grid-gutter
              img(src='img/car-show/car-show-blue-thumb.jpg' alt='Blue car entry')
            a(href='img/car-show/car-show-red-car.jpg').gallery-item.rounded-3.mb-grid-gutter
              img(src='img/car-show/car-show-red-car-thumb.jpg' alt='Cars entered in the car show')



//- Footer
block footer
  include partials/footer-default