extends partials/layout

//- Override default config variables
append config
    - var vendorStyles = ['tiny-slider/dist/tiny-slider.css', 'lightgallery.js/dist/css/lightgallery.min.css']
    - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'lightgallery.js/dist/js/lightgallery.min.js', 'lg-video.js/dist/lg-video.min.js']
    - var parentMenu = 'History'
    - var pageTitle = 'History'

//- Navbar
block navbar
    include partials/navbar-solid-shadow

//- Page Content
block content

    // Content
    .container
        .row.justify-content-center
            .col-lg-9
                .mt-lg-7.mt-sm-3
                    h1 History of the Banana Split
                    p.fs-4 The story of the All-American dessert that started in Latrobe
        
        .row.justify-content-center
            .col-lg-9.py-4
                .row.position-relative.g-0.align-items-center.border-top.border-bottom.mb-4
                    .col.py-3.pe-md-3
                        p.lead Over 115 years ago in the Western PA town of Latrobe, David Strickler, a pharmacy apprentice, created what may be the most famous sundae of all time — the banana split!
                        p Latrobe has had an annual celebration since 2013 when the Pennsylvania Historical Society unveiled a marker at the former site of Tassel's Pharmacy where Sticker was working at the time of his invention.
                        p But the banana split isn't the only world-changing thing to come from Latrobe! This town just outside of Pittsburgh was where Fred Rogers of Mister Roger's Neighborhood grew up. It's also where Arnold Palmer was raised and started his golf career at Latrobe Country Club. The town boasts the annual Westmoreland County Air Show, Steelers Training Camp, the original home of Rolling Rock Beer, and St. Vincent College.


        .row.justify-content-center
            .col-lg-9.py-4
                // Hotspots
                #hotspots-container-1.hotspots
                    // Image
                    img(src="img/generic/banana-split-generic.jpg", alt="Banana Split").rounded-3
                    // Hotspot
                    span(style="top: 76%; right: 54%;", data-bs-container="#hotspots-container-1", data-bs-toggle="popover", data-bs-placement="top", data-bs-trigger="hover", title="Banana", data-bs-content="There's lots that make up this sundae but the star is, without a doubt, the banana!").hotspot
                    // Hotspot
                    span(style="top: 56%; right: 44%;", data-bs-container="#hotspots-container-1", data-bs-toggle="popover", data-bs-placement="top", data-bs-trigger="hover", title="Strawberry Ice Cream", data-bs-content="A favorite summertime berry, frozen and topped with more strawberry preserves.").hotspot
                    // Hotspot
                    span(style="top: 45%; left: 74%;", data-bs-container="#hotspots-container-1", data-bs-toggle="popover", data-bs-placement="bottom", data-bs-trigger="hover", title="Vanilla Ice Cream", data-bs-content="The classic scoop of vanilla topped with crushed pineapple.").hotspot
                    // Hotspot
                    span(style="top: 74%; left: 16%;", data-bs-container="#hotspots-container-1", data-bs-toggle="popover", data-bs-placement="top", data-bs-trigger="hover", title="Chocolate Ice Cream", data-bs-content="You'll get your chocolate fix with this scoop topped with hot fudge.").hotspot
                    // Hotspot
                    span(style="top: 30%; left: 56%;", data-bs-container="#hotspots-container-1", data-bs-toggle="popover", data-bs-placement="top", data-bs-trigger="hover", title="Whipped Cream and Nuts", data-bs-content="Add some fresh whipped cream and sprinkle with your chopped nuts.").hotspot
                    // Hotspot
                    span(style="top: 46%; left: 16%;", data-bs-container="#hotspots-container-1", data-bs-toggle="popover", data-bs-placement="top", data-bs-trigger="hover", title="Cherries", data-bs-content="Finish up the creation with cherries.").hotspot



        // Banana Split Princesses
        section.container.pt-5.pb-4.pb-md-5.pb-lg-6.pt-md-6.pt-lg-7
            h2.text-center.pt-2.pt-md-0.mb-5 Banana Split Princesses
            .row.pb-3.pb-md-0.d-flex.justify-content-around
                // Princess Profile
                .col-lg-3.col-md-4.col-sm-6.mb-grid-gutter
                    .card.card-curved-body.border-0.shadow.mx-auto(style='max-width: 20rem;')
                        img(src='img/history/princess-2018-piper-anke.jpg' alt='Piper Anke')
                        .card-body.text-center
                            h3.h6.card-title.mb-2 Piper Anke
                            p.fs-xs.text-body.mb-0 2018 Banana Split Princess
                // Princess Profile
                .col-lg-3.col-md-4.col-sm-6.mb-grid-gutter
                    .card.card-curved-body.border-0.shadow.mx-auto(style='max-width: 20rem;')
                        img(src='img/history/princess-2019-janie-van-horn.jpg' alt='Janie Van Horn')
                        .card-body.text-center
                            h3.h6.card-title.mb-2 Janie Van Horn
                            p.fs-xs.text-body.mb-0 2019 Banana Split Princess
                // Princess Profile
                .col-lg-3.col-md-4.col-sm-6.mb-grid-gutter
                    .card.card-curved-body.border-0.shadow.mx-auto(style='max-width: 20rem;')
                        img(src='img/history/princess-2020-sophia-trunzo.jpg' alt='Sophia Trunzo')
                        .card-body.text-center
                            h3.h6.card-title.mb-2 Sophia Trunzo
                            p.fs-xs.text-body.mb-0 2020 Banana Split Princess

        // Honorary Chairs
        section.container.pt-5.pb-4.pb-md-5.pb-lg-6.pt-md-6.pt-lg-7
            h2.text-center.pt-2.pt-md-0.mb-5 Honorary Chairs
            .row.pb-3.pb-md-0.d-flex.justify-content-around
                // Horizontal card layout
                .col-md-8
                    .card.card-horizontal.p-0
                        .card-img-top(style="background-image: url(img/history/ice-cream-joe.jpg);")
                        .card-body
                            h5.card-title Ice Cream Joe Gruble
                            p.card-text.fs-sm The legacy of Latrobe as the birthplace of the banana split might not have been fully realized except for the efforts of Ice Cream Joe. While locals knew of the town's claim to the dessert, it was Joe who in 2004, on the 100th anniversary of the invention, worked with the University of Pittsburgh on the "#[a(href="http://www.news.pitt.edu/news/pitt-came-split-university-pittsburgh-honors-pitt-alum-who-invented-banana-split-1904-centenary", target="_blank") From Pitt Came the Split]" event. He was also part of the group of Latrobeans that submitted the petition for the Pennsylvania Historical Marker that was installed in 2013. 
                            p.card-text.fs-sm From 2015 until his passing in 2017, Joe served up ice cream, ideas, and smiles as the celebration's honorary chair.



//- Footer
block footer
    include partials/footer-default