extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = ['lightgallery.js/dist/css/lightgallery.min.css','tiny-slider/dist/tiny-slider.css', 'add-to-calendar-button/assets/css/atcb.min.css']
  - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js','jarallax/dist/jarallax.min.js', 'jarallax/dist/jarallax-element.min.js', 'lightgallery.js/dist/js/lightgallery.min.js', 'lg-fullscreen.js/dist/lg-fullscreen.min.js', 'lg-zoom.js/dist/lg-zoom.min.js', 'lg-video.js/dist/lg-video.min.js', 'add-to-calendar-button/assets/js/atcb.min.js']
  - var parentMenu = 'Index'
  - var pageTitle = 'Home'
  - var isPageLoading = true

//- Navbar
block navbar
  include partials/navbar-solid

//- Page Content
block content

  // Hero
  section.position-relative.bg-faded-primary.pb-5.pb-md-6.pb-lg-7.overflow-hidden.mb-7
    .shape.shape-bottom.shape-curve.bg-body
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3000 185.4')
        path(fill='currentColor' d='M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z')
    .container.pt-4.pt-md-5.pt-lg-0
      .row.align-items-center
        .col-lg-4.text-center.text-lg-start
          p.mb-0.text-muted Robindale Energy
          h1.mb-3 Banana Split Celebration
          p.fs-lg.text-muted.mb-4 A fun-filled weekend as we celebrate the town where the banana split was invented!
          ul.list-unstyled
            li.mb-3
              .d-inline-flex.align-items-center
                i.fal.fa-calendar.fa-fw.h2.mb-0.me-2
                span August 19 - 21, 2022
            li.mb-3
              .d-inline-flex.align-items-center
                i.fal.fa-map-marker-alt.fa-fw.h2.mb-0.me-2
                span Latrobe, PA
            li.mb-3
              a(href='schedule.html').btn.btn-primary
                i.fal.fa-star-exclamation.fa-fw.mb-0.me-2
                | Schedule
        .col-xl-7.col-lg-8.offset-xl-1.pt-lg-3
          .tns-carousel-wrapper.bg-size-cover.mx-auto.pt-6.pb-2
            .position-relative
              .frame-browser-label
                .tns-carousel-label
                  i.fas.fa-gem
                  span Crystal Blue Band - The "original" Shondells
              .frame-browser-body
                .tns-carousel-inner(data-carousel-options='{"mode": "gallery", "controls": false, "nav": false, "autoplay": true, "autoplayTimeout": 3000}')
                  div(data-carousel-label='<i class="fas fa-gem"></i><span>Crystal Blue Band - The "original" Shondells</span>')
                    a(href="entertainment.html")
                      img(src='img/entertainment/2022/crystal-blue-band.jpg' alt='Crystal Blue Band the original Shondells').rounded
                  div(data-carousel-label='<i class="far fa-running"></i><span>5k Banana Run</span>')
                    a(href="5k-banana-run.html")
                      img(src='img/generic/banana-run-finish-2021.jpg' alt='5k Banana Run finish line').rounded
                  div(data-carousel-label='<i class="fal fa-heart-circle"></i><span>Blood Drive</span>')
                    a(href="blood-drive.html")
                      img(src='img/generic/blood-drive-donate-sign.jpg' alt='Blood drive donation direction sign').rounded
                  div(data-carousel-label='<i class="fas fa-ice-cream"></i><span>Banana Splits</span>')
                    img(src='img/generic/banana-costumes.jpg' alt='Girls in banana costumes').rounded
                  div(data-carousel-label='<i class="fal fa-car"></i><span>Car Show</span>')
                    a(href="car-show.html")
                      img(src='img/generic/car-show-2021.jpg' alt='Car Show cars from 2021').rounded
            .tns-carousel-pager.pt-4.text-nowrap.text-center.mt-4
              button(data-nav data-goto='1').active
              button(data-nav data-goto='2')
              button(data-nav data-goto='3')
              button(data-nav data-goto='4')
              button(data-nav data-goto='5')

  //- // Hero
  //- section.bg-size-cover.overflow-hidden.py-5.py-md-6.py-lg-7(style='max-height: 750px; background-image: url(img/generic/banana-costumes.jpg); background-position: center;')
  //-   .container.position-relative.zindex-5.pt-2.pb-4.pb-md-2
  //-     .row.justify-content-center
  //-       .col-xl-6.col-lg-7.col-md-8.text-center
  //-         h1.display-4.text-light.mb-4 Banana Split Celebration
  //-         .d-inline-flex.align-items-center.mx-1.px-3.mb-4
  //-           i.ai-calendar.h2.mb-0.me-2.text-light
  //-           span.text-light August 19 - 21, 2022
  //-         .d-inline-flex.align-items-center.mx-1.px-3.mb-4
  //-           i.ai-map-pin.h2.mb-0.me-2.text-light
  //-           span.text-light Latrobe, PA
  //-         //- .pt-2
  //-         //-   a(href='schedule.html' data-scroll).btn.btn-secondary Check out the schedule
  //-   //- div(data-jarallax-element='50' data-disable-parallax-down='md')
  //-   //-   img(src='img/generic/2girls_sundae.png' alt='Girls enjoying banana splits').d-block.mx-auto
  

  // Countdown
  section.bg-primary.py-5.py-md-6.text-light
    .container.py-2.py-md-0
      .row.align-items-center
        .col-xl-4.text-center.text-xl-start
          h2.mb-4.mb-xl-2.text-light See you soon!
          p.mb-4.mb-xl-2.text-light Hop in the car and head to Latrobe
          btn.btn.btn-light.btn-sm.ms-auto.mx-3.mb-3.d-inline-block#atcb
           i.fal.fa-calendar-plus.h5.mb-0.me-2
           span Add to calendar
            script.
              const config = {
                name: "Banana Split Celebration",
                description: "A weekend of fun for the whole family as we celebrate the town where the banana split was invented.<br>Presented by Robindale, Valley Dairy Restaurants, and the Greater Latrobe - Laurel Valley Chamber of Commerce.<br>→ [url]https://bananasplitfest.com[/url]",
                startDate: "2022-08-19",
                endDate: "2022-08-21",
                timeZone: "America/New_York",
                location: "Latrobe, PA 15650",
                trigger: "click",
                options: [
                  "Google",
                  "iCal",
                  "Outlook.com",
                  "Yahoo"
                ],
                iCalFileName: "Banana-Split-Celebration",
              };
              const button = document.querySelector('#atcb');
              button.addEventListener('click', () => atcb_action(config, button));
        .col-xl-8
          //- .h2.display-2.justify-content-center.justify-content-xl-start.text-light
          //-   .mb-0.mt-3.me-0.px-4.text-light Hop in the car and head to Latrobe
          .countdown.h2.display-2.justify-content-center.justify-content-xl-start(data-countdown="08/19/2022")
            .countdown-days.mb-0.mt-3.me-0.px-4.border-end.text-light
              span.countdown-value.fw-normal.px-4 0
              span.countdown-label.fs-lg Days
            .countdown-hours.mb-0.mt-3.me-0.px-4.border-end.text-light
              span.countdown-value.fw-normal.px-4 0
              span.countdown-label.fs-lg Hours
            .countdown-minutes.mb-0.mt-3.me-0.px-4.border-end.text-light
              span.countdown-value.fw-normal.px-4 0
              span.countdown-label.fs-lg Mins
            .countdown-seconds.mb-0.mt-3.me-0.px-4.text-light
              span.countdown-value.fw-normal.px-4 0
              span.countdown-label.fs-lg Secs
  

  //- // Speakers
  //- section.container.pt-5.pb-4.pb-md-5.pb-lg-6.pt-md-6.pt-lg-7
  //-   h2.text-center.pt-2.pt-md-0.mb-5 Speakers
     

  //- section.container.pt-5.pb-4.pb-md-5.pb-lg-6.pt-md-6.pt-lg-7
    h2.text-center.pt-2.pt-md-0.mb-5 Speakers
    .row.pb-3.pb-md-0
      .col-lg-3.col-md-4.col-sm-6.mb-grid-gutter
        .card.card-curved-body.card-hover.border-0.shadow.mx-auto(style='max-width: 20rem;')
          a(href='#').card-floating-icon: i.ai-instagram
          .card-img-top.card-img-gradient
            img(src='img/team/01.jpg' alt='Sarah Cole')
          .card-body.text-center
            h3.h6.card-title.mb-2 Sarah Cole
            p.fs-xs.text-body.mb-0 Social media strategist
      .col-lg-3.col-md-4.col-sm-6.mb-grid-gutter
        .card.card-curved-body.card-hover.border-0.shadow.mx-auto(style='max-width: 20rem;')
          a(href='#').card-floating-icon: i.ai-instagram
          .card-img-top.card-img-gradient
            img(src='img/team/02.jpg' alt='Charlie Welch')
          .card-body.text-center
            h3.h6.card-title.mb-2 Charlie Welch
            p.fs-xs.text-body.mb-0 Instagram expert
      .col-lg-3.col-md-4.col-sm-6.mb-grid-gutter
        .card.card-curved-body.card-hover.border-0.shadow.mx-auto(style='max-width: 20rem;')
          a(href='#').card-floating-icon: i.ai-instagram
          .card-img-top.card-img-gradient
            img(src='img/team/03.jpg' alt='Emma Brown')
          .card-body.text-center
            h3.h6.card-title.mb-2 Emma Brown
            p.fs-xs.text-body.mb-0 Content creator
      .col-lg-3.col-md-4.col-sm-6.mb-grid-gutter
        .card.card-curved-body.card-hover.border-0.shadow.mx-auto(style='max-width: 20rem;')
          a(href='#').card-floating-icon: i.ai-instagram
          .card-img-top.card-img-gradient
            img(src='img/team/04.jpg' alt='Rosalie Lyons')
          .card-body.text-center
            h3.h6.card-title.mb-2 Rosalie Lyons
            p.fs-xs.text-body.mb-0 Social media educator
      .col-lg-3.col-md-4.col-sm-6.mb-grid-gutter
        .card.card-curved-body.card-hover.border-0.shadow.mx-auto(style='max-width: 20rem;')
          a(href='#').card-floating-icon: i.ai-instagram
          .card-img-top.card-img-gradient
            img(src='img/team/05.jpg' alt='Jane Tanaka')
          .card-body.text-center
            h3.h6.card-title.mb-2 Jane Tanaka
            p.fs-xs.text-body.mb-0 Social media strategist
      .col-lg-3.col-md-4.col-sm-6.mb-grid-gutter
        .card.card-curved-body.card-hover.border-0.shadow.mx-auto(style='max-width: 20rem;')
          a(href='#').card-floating-icon: i.ai-instagram
          .card-img-top.card-img-gradient
            img(src='img/team/06.jpg' alt='Sanomi Smith')
          .card-body.text-center
            h3.h6.card-title.mb-2 Sanomi Smith
            p.fs-xs.text-body.mb-0 Model and influencer
      .col-lg-3.col-md-4.col-sm-6.mb-grid-gutter
        .card.card-curved-body.card-hover.border-0.shadow.mx-auto(style='max-width: 20rem;')
          a(href='#').card-floating-icon: i.ai-instagram
          .card-img-top.card-img-gradient
            img(src='img/team/07.jpg' alt='Olivia Jones')
          .card-body.text-center
            h3.h6.card-title.mb-2 Olivia Jones
            p.fs-xs.text-body.mb-0 Content creator
      .col-lg-3.col-md-4.col-sm-6.mb-grid-gutter
        .card.card-curved-body.card-hover.border-0.shadow.mx-auto(style='max-width: 20rem;')
          a(href='#').card-floating-icon: i.ai-instagram
          .card-img-top.card-img-gradient
            img(src='img/team/08.jpg' alt='Richard Davis')
          .card-body.text-center
            h3.h6.card-title.mb-2 Richard Davis
            p.fs-xs.text-body.mb-0 Travel content creator

  
  // Split section (Video popup)
  section.bg-secondary
    .row.g-0
      .col-md-6.jarallax.py-7(data-jarallax data-speed='0.3')
        span.position-absolute.top-0.start-0.w-100.h-100.bg-black(style='opacity: 10%;')
        .jarallax-img(style='background-image: url(img/generic/banana-split-generic.jpg);')
      .col-md-6.px-3.pe-xl-0.ps-lg-5.ps-xl-6.py-2.py-lg-4
        .ms-sm-4.py-5.my-sm-0.py-md-6.py-lg-7(style='max-width: 520px;')
          h2.mb-5 We could all use some ice cream
          .row
            .d-flex.align-items-start.mb-grid-gutter
              .col-2.justify-content-center
                i.fas.fa-sunglasses.fa-fw.fa-3x.d-block.mt-1
              .col.flex-fill
                .ps-4.ms-2
                  h3.h5.mb-1 Latrobe - where the split was invented
                  p.fs-sm.mb-0 Multiple stages. Activity areas for kids. An over 21 area for adults. And banana splits for all
            .d-flex.align-items-start.mb-grid-gutter
              .col-2.justify-content-center
                i.far.fa-tags.fa-fw.fa-3x.d-block.mt-1
              .col.flex-fill
                .ps-4.ms-2
                  h3.h5.mb-1 Vendors and Shops
                  p.fs-sm.mb-0 Visit Latrobe's downtown merchants and the pop-up vendors at the celebration
            .d-flex.align-items-start.mb-grid-gutter
              .col-2.justify-content-center
                i.far.fa-calendar-day.fa-3x.fa-fw.d-block.mt-1
              .col.flex-fill
                .ps-4.ms-2
                  h3.h5.mb-1 One Sweet Weekend
                  p.fs-sm.mb-0 So much to do, we couldn't fit it into a single day


  
  // Contacts + Gallery
  section.container.py-5.py-md-6.py-lg-7
    .row.py-3
      .col-lg-4.col-md-5.mb-5.mb-md-0
        h2.mb-3 Location
        p.fs-sm.mb-5 The Banana Split Celebration is held in Latrobe, PA where the banana split was originally invented back in 1904.
        h3.h6 Latrobe, PA
        ul.list-unstyled.mb-5
          li.mb-0 Main &amp; Ligonier Streets
          li.mb-0 Latrobe, Pennsylvania
        ul.list-unstyled.mb-5
          li.d-flex.align-items-center.mb-2
            i.ai-check-square.fs-xl.me-2
            span.fw-semibold.ps-1 Park for free
          li.d-flex.align-items-center.mb-2
            i.ai-check-square.fs-xl.me-2
            span.fw-semibold.ps-1 Food and craft vendors
          li.d-flex.align-items-center
            i.ai-check-square.fs-xl.me-2
            span.fw-semibold.ps-1 Activities and entertainment
        a(href='schedule.html').btn.btn-primary.ms-grid-gutter.d-inline-block Here's the schedule
      .col-xl-6.col-md-7.offset-xl-2.offset-lg-1.px-sm-3
        .row.mx-n2.mx-sm-n3.gallery
          .col-6.px-2.px-md-3
            a(href='img/generic/pony.jpg' data-sub-html='<h6 class="fs-sm text-light">Stonybrook Foundation</h6>').gallery-item.rounded-3.mb-3.mb-md-0
              img(src='img/generic/pony-thumb.jpg' alt='Stonybook Foundation Pony')
              span.gallery-caption Stonybrook Foundation Pony
            .d-none.d-md-block.mb-grid-gutter
            a(href='img/generic/banana-split-girl.jpg' data-sub-html='<h6 class="fs-sm text-light">Girl enjoys a banana split</h6>').gallery-item.rounded-3
              img(src='img/generic/banana-split-girl-thumb.jpg' alt='Girl enjoys a banana split')
              span.gallery-caption Enjoying a Banana Split
          .col-6.px-2.px-md-3.pt-md-6
            a(href='img/generic/pie-eating-contestant-male.jpg' data-sub-html='<h6 class="fs-sm text-light">Pie Eating Contesant</h6>').gallery-item.rounded-3.mb-3.mb-md-0
              img(src='img/generic/pie-eating-contestant-male-thumb.jpg' alt='Pie Eating Contestant')
              span.gallery-caption Pie Eating Contestant
            .d-none.d-md-block.mb-grid-gutter
            a(href='img/generic/princess-2018.jpg' data-sub-html='<h6 class="fs-sm text-light">2018 Banana Split Princess/h6>').gallery-item.rounded-3
              img(src='img/generic/princess-2018-thumb.jpg' alt='2018 Banana Split Princess')
              span.gallery-caption 2018 Banana Split Princess

  
  // Tickets
  section.container.position-relative.zindex-5.mt-2.mt-md-5
    .row.justify-content-center
      .col-lg-10.col-md-11
        .bg-light.border.border-primary.border-5.rounded-3.pt-5.px-4.pb-4.p-sm-5
          .px-md-4
            h2.text-center.pb-1 Get the Inside Scoop
            p.text-center.pb-4 Enter your email address to get updates on future events
            //- // Widget: Subscription (MailChimp Ajax)
            //- // Instructions how to get MailChimp action link:
            //- // 1. Log in to your MailChimp Dashboard / Audience / Manage Audience / Signup forms / Embedded forms
            //- // 2. In the provided code find form action link and copy it
            //- // 3. Paste it to the form action attribute below
            //- // 4. Also in the form code provided by MailChimp find antispam input and copy it name attribute contents
            //- // 5. Paste what you have copied from name attribute to the name attribute of input with class "subscription-form-antispam"
            form(action="https://bananasplitfest.us17.list-manage.com/subscribe/post?u=130529bf4626796b734d2d6aa&amp;id=dcc82d196b", method="post", name="mc-embedded-subscribe-form", target="_blank", novalidate).subscription-form.validate
              .input-group.flex-nowrap
                i.ai-mail.position-absolute.top-50.translate-middle-y.text-muted.fs-base.ms-3
                input(type="email", name="EMAIL", placeholder="Your email", required).form-control.rounded-start
                button(type="submit", name="subscribe").btn.btn-primary Subscribe
              //- // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style="position: absolute; left: -5000px;" aria-hidden="true")
                input(type="text", name="b_130529bf4626796b734d2d6aa_dcc82d196b", tabindex="-1").subscription-form-antispam
              .subscription-status


  

  // Partners (logos)
  section.position-relative.bg-secondary.pt-5.pb-4.pb-md-5.pt-md-6.pt-lg-7(style='margin-top: -260px;')
    div(style='height: 260px;')
    .shape.shape-top.shape-curve.bg-body
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3000 185.4')
        path(fill='currentColor' d='M3000,185.4V0H0v185.4C496.4,69.8,996.4,12,1500,12S2503.6,69.8,3000,185.4z')
    .container.pt-3.pt-md-0.pb-md-2
      .row.justify-content-center
        .col-lg-8
          .row
            //- .col-md-3.col-sm-4.col-6.text-center
            //-   a(href='#').swap-image.mb-grid-gutter
            //-     img(src='img/demo/event-landing/partners/01_color.png' alt='Logo' width='176').swap-to
            //-     img(src='img/demo/event-landing/partners/01_gray.png' alt='Logo' width='176').swap-from
            //- .col-md-3.col-sm-4.col-6.text-center
            //-   a(href='#').swap-image.mb-grid-gutter
            //-     img(src='img/demo/event-landing/partners/02_color.png' alt='Logo' width='176').swap-to
            //-     img(src='img/demo/event-landing/partners/02_gray.png' alt='Logo' width='176').swap-from
            //- .col-md-3.col-sm-4.col-6.text-center
            //-   a(href='#').swap-image.mb-grid-gutter
            //-     img(src='img/demo/event-landing/partners/03_color.png' alt='Logo' width='176').swap-to
            //-     img(src='img/demo/event-landing/partners/03_gray.png' alt='Logo' width='176').swap-from
            //- .col-md-3.col-sm-4.col-6.text-center
            //-   a(href='#').swap-image.mb-grid-gutter
            //-     img(src='img/demo/event-landing/partners/04_color.png' alt='Logo' width='176').swap-to
            //-     img(src='img/demo/event-landing/partners/04_gray.png' alt='Logo' width='176').swap-from
            //- .col-md-3.col-sm-4.col-6.text-center
            //-   a(href='#').swap-image.mb-grid-gutter
            //-     img(src='img/demo/event-landing/partners/05_color.png' alt='Logo' width='176').swap-to
            //-     img(src='img/demo/event-landing/partners/05_gray.png' alt='Logo' width='176').swap-from
            //- .col-md-3.col-sm-4.col-6.text-center
            //-   a(href='#').swap-image.mb-grid-gutter
            //-     img(src='img/demo/event-landing/partners/06_color.png' alt='Logo' width='176').swap-to
            //-     img(src='img/demo/event-landing/partners/06_gray.png' alt='Logo' width='176').swap-from
            //- .col-md-3.col-sm-4.col-6.text-center
            //-   a(href='#').swap-image.mb-grid-gutter
            //-     img(src='img/demo/event-landing/partners/07_color.png' alt='Logo' width='176').swap-to
            //-     img(src='img/demo/event-landing/partners/07_gray.png' alt='Logo' width='176').swap-from
            //- .col-md-3.col-sm-4.col-6.text-center
            //-   a(href='#').swap-image.mb-grid-gutter
            //-     img(src='img/demo/event-landing/partners/08_color.png' alt='Logo' width='176').swap-to
            //-     img(src='img/demo/event-landing/partners/08_gray.png' alt='Logo' width='176').swap-from


//- Footer
block footer
  include partials/footer-default