extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = [ 'tiny-slider/dist/tiny-slider.css', 'lightgallery.js/dist/css/lightgallery.min.css']
  - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'lightgallery.js/dist/js/lightgallery.min.js', 'lg-fullscreen.js/dist/lg-fullscreen.min.js', 'lg-zoom.js/dist/lg-zoom.min.js']
  - var parentMenu = 'Vendors'
  - var pageTitle = 'Over 21 Area'

//- Navbar
block navbar
  include partials/navbar-solid-shadow

//- Page Content
block content
  section.sidebar-enabled.sidebar-end
    .container
      .row

        // Project description
        .col-lg-4.sidebar.order-lg-2
          .px-sm-4.pt-6.py-lg-6.position-relative.zindex-5
            h1.h2 Over 21 Area
            a(href='#gallery' data-scroll).btn.btn-translucent-primary.btn-sm.ms-auto.mx-3.mb-3.d-inline-block.d-lg-none Gallery
            .d-sm-flex.align-items-center.pt-3.pb-2.mb-5.border-bottom.fs-sm

            //-   .d-flex.align-items-center.mb-3
            //-     .text-nowrap.text-muted.me-3
            //-       i.ai-calendar.me-1
            //-       span Aug 28, 2020
            //-     .text-nowrap.text-muted
            //-       i.ai-tag.me-1
            //-       span 3D Modelling
            h3.h5 Details
            p.fs-sm.mb-4.pb-2 Your favorite local breweries, wineries, and distilleries in the celebration's over 21 area. Located adjacent to the event main stage so you'll be able to enjoy all the great performances.
            ul.list-unstyled.fs-md.mb-4.pb-2
              li.mb-2
                | Friday
                span.fw-medium.text-nav.ms-2 August 19: 12PM - 8PM
              li.mb-2
                | Saturday
                span.fw-medium.text-nav.ms-2 August 20: 10AM - 8PM
              li.mb-2
                | Sunday
                span.fw-medium.text-nav.ms-2 August 21: 10AM - 4PM
              li.mb-2
                | Location:
                span.fw-medium.text-nav.ms-2 329 Main St
        

        // Project gallery (Grid)
        #gallery.col-lg-8.content.pb-lg-4.order-lg-1
          .gallery.row.pt-5.pb-4.py-lg-5
            .col-sm-4.mb-grid-gutter
              .card
                .card-body
                  img(src='img/over21/bella-terra.jpg' alt='Bella Terra Vineyards')
            .col-sm-4.mb-grid-gutter
              .card
                .card-body
                  img(src='img/over21/four-seasons.jpg' alt='Four Seasons Brewery')
            .col-sm-4.mb-grid-gutter
              .card
                .card-body
                  img(src='img/over21/tattiebogle.jpg' alt='Tattiebogle Cider Works')
            .col-sm-4.mb-grid-gutter
              .card
                .card-body
                  img(src='img/over21/noble-stein.jpg' alt='Noble Stein Brewing')
            .col-sm-4.mb-grid-gutter
              .card
                .card-body
                  img(src='img/over21/country-hammer.jpg' alt='Country Hammer Moonshine')
            .col-sm-4.mb-grid-gutter
              .card
                .card-body
                  img(src='img/over21/own-brook.jpg' alt='Own Brook Winery')



//- Footer
block footer
  include partials/footer-default