extends partials/layout

//- Override default config variables
append config
  - var vendorStyles = [ 'tiny-slider/dist/tiny-slider.css', 'lightgallery.js/dist/css/lightgallery.min.css']
  - var vendorScripts = ['tiny-slider/dist/min/tiny-slider.js', 'lightgallery.js/dist/js/lightgallery.min.js', 'lg-fullscreen.js/dist/lg-fullscreen.min.js', 'lg-zoom.js/dist/lg-zoom.min.js']
  - var parentMenu = 'Activities'
  - var pageTitle = 'Princess Pageant'

//- Navbar
block navbar
  include partials/navbar-solid-shadow

//- Page Content
block content
  section.sidebar-enabled.sidebar-end
    .container
      .row

        // Project description
        .col-lg-4.sidebar.order-lg-2
          .px-sm-4.pt-6.py-lg-6.position-relative.zindex-5
            h1.h2 Princess Pageant
            a(href='/history.html#princesses').btn.btn-outline-primary.btn-sm.ms-auto.mx-3.mb-3.d-inline-block Past Princesses
            a(href='#gallery' data-scroll).btn.btn-translucent-primary.btn-sm.ms-auto.mx-3.mb-3.d-inline-block.d-lg-none Gallery
            .d-sm-flex.align-items-center.pt-3.pb-2.mb-5.border-bottom.fs-sm

            h3.h5 2022 Princess - Lilly Zemba

            p.fs-sm.mb-2 Congratulations to Lily for being crowned this year's Banana Split Pricness!

            p.fs-sm.mb-2 If you didn't get to meet her at the May 15th pageant, you can find her at community events throughout the year and at the Great American Banana Split Celebration August 19-21 in downtown Latrobe.


            //-   .d-flex.align-items-center.mb-3
            //-     .text-nowrap.text-muted.me-3
            //-       i.ai-calendar.me-1
            //-       span Aug 28, 2020
            //-     .text-nowrap.text-muted
            //-       i.ai-tag.me-1
            //-       span 3D Modelling
            //- h3.h5 Details
            //- ul.list-unstyled.fs-md.mb-4.pb-2
            //-   li.mb-2
            //-     | Date:
            //-     span.fw-medium.text-nav.ms-2 Sunday, August 15
            //-   li.mb-2
            //-     | Time:
            //-     span.fw-medium.text-nav.ms-2 4 PM
            //-   li
            //-     | Location:
            //-     span.fw-medium.text-nav.ms-2 Latrobe Elementary School
            //- h3.h5 Pageant Information
            //- p.fs-sm.mb-4.pb-2 Open to girls ages 9 - 11 who live inside the boundaries of Derry Area, Greater Latrobe, and Ligonier Valley school districts.
            //- h3.h5 Pageant Contact
            //- p.fs-sm.mb-4.pb-2 Questions about the pageant can be directed to Taylor Gantt, pageant chair, using the email address #[a(href="mailto:princess@bananasplitfest.com") princess@bananasplitfest.com]
            //- h3.h5 Required Activities
            //- p.fs-sm.mb-2 Participants in the pageant will be required to attend practices prior to the actual pageant. Those meetings will be on #[strong July 19], #[strong August 2], and a potentially #[strong August 9].
            //- p.fs-sm.mb-2 The day of the pageant, girls will need to arrive at 11 AM.
            //- p.fs-sm.mb-4 Girls selected to serve on the Banana Split Princess Court will have additional responsibilities throughout the year.
            h3.h5 Sponsors
            ul.list-unstyled.fs-md.mb-4.pb-2
              li.mb-2
                | First Commonwealth Advisors - Jodee Harris
              //- li.mb-2
              //-   | Law Office of Daniel C. Hudock
              li.mb-2
                | Robindale Energy
              li.mb-2
                | GLLV Chamber of Commerce
              li.mb-2
                | Valley Dairy Restaurants
        

        // Project gallery (List)
        #gallery.col-lg-8.content.pb-lg-4.order-lg-1
          .gallery.pt-5.pb-4.py-lg-5
            a(href='img/princess-pageant/2022-princess-court.jpg').gallery-item.rounded-3.mb-grid-gutter
              img(src='img/princess-pageant/2022-princess-court-thumb.jpg' alt='Members of the 2022 Banana Split Princess Court')
            a(href='img/princess-pageant/pageant-court.jpg').gallery-item.rounded-3.mb-grid-gutter
              img(src='img/princess-pageant/pageant-court-thumb.jpg' alt='Members of the 2109 Banana Split Princess Court')
            a(href='img/princess-pageant/pageant-court-float.jpg').gallery-item.rounded-3.mb-grid-gutter
              img(src='img/princess-pageant/pageant-court-float-thumb.jpg' alt='Court Members on Fourth of July Float')



//- Footer
block footer
  include partials/footer-default