extends partials/layout

//- Override default config variables
append config
    - var vendorStyles = ['lightgallery.js/dist/css/lightgallery.min.css']
    - var vendorScripts = ['jarallax/dist/jarallax.min.js', 'jarallax/dist/jarallax-element.min.js', 'lightgallery.js/dist/js/lightgallery.min.js', 'lg-fullscreen.js/dist/lg-fullscreen.min.js', 'lg-zoom.js/dist/lg-zoom.min.js', 'lg-video.js/dist/lg-video.min.js']
    - var parentMenu = 'Schedule'
    - var pageTitle = 'Schedule'

//- Navbar
block navbar
    include partials/navbar-solid-shadow

//- Page Content
block content

    .container.mt-lg-7.mt-sm-3
        h1 2022 Schedule
        p.fs-4 Fun for kids and adults

        //- .container.my-5
        //-     .row.justify-content-center
        //-         .col-lg-10.col-md-11
        //-             .bg-light.border.border-primary.border-5.rounded-3.pt-5.px-4.pb-4.p-sm-5
        //-                 .d-flex.align-items-start
        //-                     img(src='img/schedule/in-the-sticks.jpg' alt='In the Sticks' width='200')
        //-                     .px-md-4
        //-                         .text-uppercase.small.text-body.my-0.py-0 Headlining performance
        //-                         h3.pb-1.mb-0 In the Sticks Band
        //-                         h5.text-body August 21, 2021 6:30&nbsp;PM
        //-                         p.pb-0.mb-0 Classic Rock &amp; Country


        //- #aug15.container.my-3
            .h3.text-body.mb-0.pb-3 Sunday, August 15
            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 4:00&nbsp;PM - 5:00&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/princess-icon.jpg' alt='Princess Pageant' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                a(href='princess-pageant.html').h4.text-body Princess Pageant
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Latrobe Elementary School

        //- #aug20.container.my-3
            .h3.text-body.mb-0.pb-3 Friday, August 20
            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 11:00&nbsp;AM - 3:00&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            //- img(src='img/schedule/princess-icon.jpg' alt='Princess Pageant' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                a(href='https://www.latrobeartcenter.org/events-all/2021-downtown-banana' target='_blank').h5.text-body Downtown Latrobe Banana Split Celebration
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2: a(href="https://www.latrobeartcenter.org/events-all/2021-downtown-banana", target="blank") "Banana Split Open"
                                    li.list-inline-item
                                        p.fs-sm.mb-2 Comedy and Magic Show
                                    li.list-inline-item
                                        p.fs-sm.mb-2 Tracy's Song &amp; Dance Show
                                    li.list-inline-item
                                        p.fs-sm.mb-2 Arts &amp; Crafts
                                    li.list-inline-item
                                        p.fs-sm.mb-2 Street Performers
                                    li.list-inline-item
                                        p.fs-sm.mb-2 Music
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Various locations and shops throughout Downtown Latrobe
            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 6:00&nbsp;PM - 9:00&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/yellow-tie.jpg' alt='Yellow Tie Gala' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .small.text-body.my-0.py-0 Latrobe Art Center
                                a(href='https://www.latrobeartcenter.org/events-all/2021-yellow-tie-gala' target='_blank').h4.text-body Yellow Tie Gala
                                ul.list-inline.my-2
                                    li.list-inline-item: a(href='https://www.latrobeartcenter.org/events-all/2021-yellow-tie-gala' target='_blank').btn.btn-outline-primary.btn-sm
                                        | Tickets
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Latrobe Art Center

        //- #aug15.container.my-3
            .h3.text-body.mb-0.pb-3 Saturday, August 21
            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 7:30&nbsp;AM - 9:30&nbsp;AM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            //- img(src='img/schedule/princess-icon.jpg' alt='Princess Pageant' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .h6.text-body 5k Banana Run Packet Pickup
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Latrobe Memorial Stadium
            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 7:30&nbsp;AM - 9:30&nbsp;AM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/5k-run.png' alt='5k Banana run' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .small.text-body.my-0.py-0 Robindale
                                a(href='5k-banana-run.html').h4.text-body 5k Banana Run
                                ul.list-inline.my-2
                                    li.list-inline-item: a(href='/pdf/2021-5k-banana-run.pdf' target='_blank').btn.btn-outline-primary.btn-sm
                                        | Same Day Registration form
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Latrobe Memorial Stadium

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 10:30&nbsp;AM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            //- img(src='img/schedule/princess-icon.jpg' alt='Princess Pageant' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .small.text-body.my-0.py-0 Loyalhanna Continuing Care Community
                                .h5.text-body 5k Banana Run Awards Ceremony
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Legion Keener Park

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 11:00&nbsp;AM - 11:50&nbsp;AM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/laurel-valley-dance.jpg' alt='Laurel Valley Academy of Dance' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                a(href='entertainment.html').h5.text-body.pb-0.mb-0 Laurel Valley Academy of Dance
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Band Stand

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 12:00&nbsp;PM - 4:00&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/car-show.jpg' alt='Blue car' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .small.text-body.my-0.py-0 State Farm Agent Sarah Crispin-Thomas
                                a(href='car-show.html').h4.text-body.my-0.py-0 Car Show
                                .small.text-body.mb-2.pb-2 benefiting Relay for Life
                                ul.list-inline.my-2
                                    li.list-inline-item: a(href='https://dashboard.bananasplitfest.com/car-show-registration/' target="_blank").btn.btn-outline-primary.btn-sm.ms-auto.mx-3.mb-3.d-inline-block 
                                        | Register Online
                                    li.list-inline-item: a(href='/pdf/2021-car-show-reg.pdf' target="_blank").btn.btn-outline-primary.btn-sm.ms-auto.mx-3.mb-3.d-inline-block 
                                        | Paper Form
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Legion Keener Park

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 12:00&nbsp;PM - 8:00&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            //- img(src='img/schedule/princess-icon.jpg' alt='Princess Pageant' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .h5.text-body Vendors Open
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Legion Keener Park

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 12:00&nbsp;PM - 8:00&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/climbing-wall.jpg' alt='Climber on wall' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .h5.text-body Climbing Wall
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Playland II


            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 12:00&nbsp;PM - 12:45&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/david-stout.jpg' alt='David Stout' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                a(href='entertainment.html').h5.text-body.pb-0.mb-0 David Stout
                                .small.text-body.my-0.pb-1 presented by SpringHill Outdoor Power Equipment
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Band Stand


            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 1:00&nbsp;PM - 1:30&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/candy-bar-bingo.png' alt='Candy Bar Bingo' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .small.text-body.my-0.py-0 Pynos Insurance Agency
                                .h5.text-body.pb-0.mb-0 Candy Bar Bingo
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Playland II


            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 1:00&nbsp;PM - 1:45&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/timeless.jpg' alt='Timeless' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                a(href='entertainment.html').h5.text-body.pb-0.mb-0 Timeless
                                .small.text-body.my-0.pb-1 presented by MPS Tax Service
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Band Stand

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 2:00&nbsp;PM - 2:30&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/pie-eating.jpg' alt='Pie Eating Contest' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .small.text-body.my-0.py-0 Eat’n Park
                                .h5.text-body.pb-0.mb-0 Pie Eating Contest
                                .small.text-body.my-0.pb-1 presented by Wildcat Championship Belts
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Band Stand

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 2:30&nbsp;PM - 2:50&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            //- img(src='img/schedule/conner-gilbert.jpg' alt='Conner Gilbert' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                a(href='entertainment.html').h5.text-body.pb-0.mb-0 HighKix Martial Arts
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Band Stand

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 3:00&nbsp;PM - 3:30&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/candy-bar-bingo.png' alt='Candy Bar Bingo' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .small.text-body.my-0.py-0 Pynos Insurance Agency
                                .h5.text-body.pb-0.mb-0 Candy Bar Bingo
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Playland II

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 3:00&nbsp;PM - 3:45&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/antolena.jpg' alt='Antolena' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                a(href='entertainment.html').h5.text-body.pb-0.mb-0 Antolena
                                .small.text-body.my-0.pb-1 presented by Valley Dairy Restaurants
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Band Stand

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 3:30&nbsp;PM - 4:00&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            .ms-4(style='max-width: 580px;')
                                .small.text-body.my-0.py-0 Technimark
                                .h5.text-body.pb-0.mb-0 Car Show Awards Ceremony
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Legion Keener Park


            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 4:30&nbsp;PM - 4:45&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/conner-gilbert.jpg' alt='Conner Gilbert' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                a(href='entertainment.html').h5.text-body.pb-0.mb-0 Conner Gilbert
                                .small.text-body.my-0.pb-1 presented by 1st Summit Bank
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Band Stand

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 4:45&nbsp;PM - 5:00&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/2021-princess-court.jpg' alt='Princess Court' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .h5.text-body.pb-0.mb-0 Banana Split Princess Court Introduction
                                p.fs-sm.mb-2 Welcome to the stage the banana split royalty of 2020 and 2021.
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Band Stand

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 5:00&nbsp;PM - 5:30&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/candy-bar-bingo.png' alt='Candy Bar Bingo' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .small.text-body.my-0.py-0 Pynos Insurance Agency
                                .h5.text-body.pb-0.mb-0 Candy Bar Bingo
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Playland II

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 5:00&nbsp;PM - 5:45&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/john-pertrarka.jpg' alt='John Petrarca' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                a(href='entertainment.html').h5.text-body.pb-0.mb-0 John Petrarca
                                .small.text-body.my-0.pb-1 presented by Steve Limani Realty One Group Gold Standard
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Band Stand

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 6:00&nbsp;PM - 7:00&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/goat-yoga.jpg' alt='Goat Yoga' width='75').rounded-circle
                            .ms-4(style='max-width: 580px;')
                                .small.text-body.my-0.py-0 Phoenix Rehab
                                .h5.text-body.pb-0.mb-0 Goat Yoga
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Legion Keener Park

            .border-top.py-4
                .row.py-md-2
                    .col-lg-2.col-sm-3
                        .text-body 6:30&nbsp;PM - 8:00&nbsp;PM
                    .col-lg-10.col-sm-9
                        .d-flex.align-items-start
                            img(src='img/schedule/in-the-sticks.jpg' alt='In the Sticks' width='200')
                            .ms-4(style='max-width: 580px;')
                                .text-uppercase.small.text-body.my-0.py-0 Headlining performance
                                a(href='entertainment.html').h2.text-body.pb-0.mb-0 In the Sticks
                                p.fs-sm.mb-2 Country and classic rock band <strong>In the Sticks</strong> performs your favorite songs from artists like Miranda Lambert, Zac Brown, Reba and Hank, to AC/DC, Zeppelin, Skynyrd, and Heart from the band stand in Legion Keener Park.
                                ul.list-inline.my-2
                                    li.list-inline-item
                                        p.fs-sm.mb-2 #[i.fas.fa-map-marker-alt.pe-2] Band Stand


    section.bg-dark.position-relative.py-7.mt-7
        //- Content goes here
        .container.position-relative.zindex-5(style='margin-top:-130px;')
            .row.justify-content-center
                .col-lg-10.col-md-11
                    .bg-light.border.border-primary.border-5.rounded-3.pt-5.px-4.pb-4.p-sm-5
                        .px-md-4
                            h3.text-center.pb-1 August 19-21, 2022 
                            p.text-center.pb-0.mb-0 The schedule for 2022 isn't quite ripe enough to announce. Check back soon for all the activities and entertainment lineup.
        .shape.shape-top.shape-slant.bg-body
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260")
                polygon(fill="currentColor" points="0,0 0,2.4 3000,260 3000,0")



//- Footer
block footer
    include partials/footer-default