head
  meta(charset="utf-8")
  title
    | Banana Split Celebration | !{pageTitle}

  // SEO Meta Tags
  meta(name="description", content="Banana Split Celebration - Latrobe, PA")
  meta(name="keywords", content="festival, event, ice cream, banana split, banana, 5k run, 5k walk, kids, families, family, entertainment")
  meta(name="author", content="Greater Latrobe - Laurel Valley Chamber of Commerce")

  // Facebook Open Graph Tags
  meta(property="fb:app_id", content="455262247965728")
  meta(property="og:type", content="website")
  meta(property="og:title", content= pageTitle )
  meta(property="og:site_name", content="Banana Split Celebration")
  meta(property="og:url", content="https://bananasplitfest.com")
  meta(property="og:image", content="https://bananasplitfest.com/img/logo/logo.svg")
  meta(property="og:image", content="https://bananasplitfest.com/img/generic/banana-split-generic.jpg")
  meta(property="og:image", content="https://bananasplitfest.com/img/generic/banana-split-couple.jpg")


  // Viewport
  meta(name='viewport' content='width=device-width, initial-scale=1')

  // Favicon and Touch Icons
  link(rel="apple-touch-icon-precomposed", sizes="57x57")&attributes(isNestedFile ? {'href':'../(apple-touch-icon-57x57.png)'} : {'href':'apple-touch-icon-57x57.png'})
  link(rel="apple-touch-icon-precomposed", sizes="114x114")&attributes(isNestedFile ? {'href':'../(apple-touch-icon-114x114.png)'} : {'href':'apple-touch-icon-114x114.png'})
  link(rel="apple-touch-icon-precomposed", sizes="72x72")&attributes(isNestedFile ? {'href':'../(apple-touch-icon-72x72.png)'} : {'href':'apple-touch-icon-72x72.png'})
  link(rel="apple-touch-icon-precomposed", sizes="144x144")&attributes(isNestedFile ? {'href':'../(apple-touch-icon-144x144.png)'} : {'href':'apple-touch-icon-144x144.png'})
  link(rel="apple-touch-icon-precomposed", sizes="60x60")&attributes(isNestedFile ? {'href':'../(apple-touch-icon-60x60.png)'} : {'href':'apple-touch-icon-60x60.png'})
  link(rel="apple-touch-icon-precomposed", sizes="120x120")&attributes(isNestedFile ? {'href':'../(apple-touch-icon-120x120.png)'} : {'href':'apple-touch-icon-120x120.png'})
  link(rel="apple-touch-icon-precomposed", sizes="76x76")&attributes(isNestedFile ? {'href':'../(apple-touch-icon-76x76.png)'} : {'href':'apple-touch-icon-76x76.png'})
  link(rel="apple-touch-icon-precomposed", sizes="152x152")&attributes(isNestedFile ? {'href':'../(apple-touch-icon-152x152.png)'} : {'href':'apple-touch-icon-152x152.png'})
  link(rel="icon", type="image/png", sizes="196x196")&attributes(isNestedFile ? {'href':'../(favicon-196x196.png)'} : {'href':'favicon-196x196.png'}) 
  link(rel="icon", type="image/png", sizes="96x96")&attributes(isNestedFile ? {'href':'../(favicon-96x96.png)'} : {'href':'favicon-96x96.png'})
  link(rel="icon", type="image/png", sizes="32x32")&attributes(isNestedFile ? {'href':'../(favicon-32x32.png)'} : {'href':'favicon-32x32.png'})
  link(rel="icon", type="image/png", sizes="16x16")&attributes(isNestedFile ? {'href':'../(favicon-16x16.png)'} : {'href':'favicon-16x16.png'})
  link(rel="icon", type="image/png", sizes="128x128")&attributes(isNestedFile ? {'href':'../(favicon-128.png)'} : {'href':'favicon-128.png'})

  if isPageLoading
    // Page loading styles
    style.
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: #034EA1;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #034EA1;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

    // Page loading scripts
    script.
      (function () {
        window.onload = function () {
          var preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 2000);
        };
      })();
      
  // Vendor Styles
  +vendor-styles

  // Main Theme Styles + Bootstrap
  link(rel='stylesheet' media='screen')&attributes(isNestedFile ? {'href': '../css/theme.min.css'} : {'href': 'css/theme.min.css'})
