// Menu
ul.navbar-nav
  li()&attributes(parentMenu === 'Activities' ? {'class': 'nav-item dropdown dropdown-mega active'} : {'class': 'nav-item dropdown dropdown-mega'})
    a(href='#' data-bs-toggle='dropdown').nav-link.dropdown-toggle Activities
    .dropdown-menu
      a(href='#' style='background-image: url(img/menu/activities-pong-thumb.jpg);').dropdown-column.dropdown-column-img.bg-secondary
      .dropdown-column
        h5.dropdown-header Activities
        a(href='5k-banana-run.html').dropdown-item 5k Banana Run
        a(href='car-show.html').dropdown-item Car Show
        a(href='pie-eating-contest.html').dropdown-item Pie Eating Contest
        a(href='princess-pageant.html').dropdown-item Princess Pageant
        a(href='https://www.latrobeartcenter.org/', target="_blank").dropdown-item Yellow Tie Gala
  li()&attributes(parentMenu === 'Entertainment' ? {'class': 'nav-item dropdown dropdown-mega active'} : {'class': 'nav-item dropdown dropdown-mega'})
    a(href='#' data-bs-toggle='dropdown').nav-link.dropdown-toggle Entertainment
    .dropdown-menu
      a(href='entertainment.html' style='background-image: url(img/menu/entertainment-joe-g-thumb.jpg);').dropdown-column.dropdown-column-img.bg-secondary
      .dropdown-column
        h5.dropdown-header Entertainment
        a(href='entertainment.html').dropdown-item Headliner
        a(href='entertainment.html').dropdown-item Community Performers
        a(href='entertainment.html').dropdown-item Past Headliners
        a(href='entertainment.html').dropdown-item Be a performer
        
  li()&attributes(parentMenu === 'Attend' ? {'class': 'nav-item dropdown dropdown-mega active'} : {'class': 'nav-item dropdown dropdown-mega'})
    a(href='#' data-bs-toggle='dropdown').nav-link.dropdown-toggle Attend
    .dropdown-menu
      a(href='#' style='background-image: url(img/menu/banana-split-boy-thumb.jpg);').dropdown-column.dropdown-column-img.bg-secondary
      .dropdown-column
        h5.dropdown-header Attend
        a(href='attend.html#faq-2021-location').dropdown-item Getting to the Event
        a(href='attend.html#faq-2021-parking').dropdown-item Parking
        a(href='attend.html#faq-2021-pets').dropdown-item Pet policy
        a(href='attend.html#faq-2021-packing-list').dropdown-item What to bring
  li()&attributes(parentMenu === 'History' ? {'class': 'nav-item dropdown dropdown-mega active'} : {'class': 'nav-item dropdown dropdown-mega'})
    a(href='#' data-bs-toggle='dropdown').nav-link.dropdown-toggle History
    .dropdown-menu
      a(href='#' style='background-image: url(img/menu/usps-stamp-thumb.jpg);').dropdown-column.dropdown-column-img.bg-secondary
      .dropdown-column
        h5.dropdown-header History
        a(href='history.html').dropdown-item The invention
        a(href='history.html').dropdown-item Latrobe's celebration
        a(href='history.html').dropdown-item Past Banana Split Princesses
        a(href='history.html').dropdown-item Past Honorary Chairs
  li()&attributes(parentMenu === 'News' ? {'class': 'nav-item active'} : {'class': 'nav-item'})
    a(href='news.html').nav-link News