// Menu
ul.navbar-nav
  li()&attributes(parentMenu === 'Activities' ? {'class': 'nav-item dropdown dropdown-mega active'} : {'class': 'nav-item dropdown dropdown-mega'})
    a(href='#' data-bs-toggle='dropdown').nav-link.dropdown-toggle Activities
    .dropdown-menu
      a(href='#' style='background-image: url(img/demo/menu-banner.jpg);').dropdown-column.dropdown-column-img.bg-secondary
      .dropdown-column
        a(href='5k-banana-run.html').dropdown-item 5k Banana Run
        a(href='car-show.html').dropdown-item Car Show
        a(href='pie-eating-contest.html').dropdown-item Pie Eating Contest
        a(href='kids-car-show.html').dropdown-item Kids Car Show
        a(href='open-swim.html').dropdown-item Open Swim
        a(href='pageant.html').dropdown-item Princess Pageant
        a(href='lawn-games.html').dropdown-item Lawn Games
  li()&attributes(parentMenu === 'Entertainment' ? {'class': 'nav-item dropdown dropdown-mega active'} : {'class': 'nav-item dropdown dropdown-mega'})
    a(href='#' data-bs-toggle='dropdown').nav-link.dropdown-toggle Entertainment
    .dropdown-menu
      a(href='entertainment.html' style='background-image: url(img/demo/menu-banner.jpg);').dropdown-column.dropdown-column-img.bg-secondary
      .dropdown-column
        a(href='entertainment.html').dropdown-item Headliner
        a(href='entertainment.html').dropdown-item Dance Groups
        a(href='entertainment.html').dropdown-item Past Headliners
        a(href='entertainment.html').dropdown-item Be a performer
        
  li()&attributes(parentMenu === 'Attend' ? {'class': 'nav-item dropdown dropdown-mega active'} : {'class': 'nav-item dropdown dropdown-mega'})
    a(href='#' data-bs-toggle='dropdown').nav-link.dropdown-toggle Attend
    .dropdown-menu
      a(href='#' style='background-image: url(img/demo/menu-banner.jpg);').dropdown-column.dropdown-column-img.bg-secondary
      .dropdown-column
        a(href='attend.html').dropdown-item Getting to the Event
        a(href='attend.html').dropdown-item Parking
        a(href='attend.html').dropdown-item Stay overnight
        a(href='attend.html').dropdown-item Pet policy
        a(href='attend.html').dropdown-item What to bring
  li()&attributes(parentMenu === 'History' ? {'class': 'nav-item dropdown dropdown-mega active'} : {'class': 'nav-item dropdown dropdown-mega'})
    a(href='#' data-bs-toggle='dropdown').nav-link.dropdown-toggle History
    .dropdown-menu
      a(href='#' style='background-image: url(img/demo/menu-banner.jpg);').dropdown-column.dropdown-column-img.bg-secondary
      .dropdown-column
        a(href='history.html').dropdown-item The invention
        a(href='history.html').dropdown-item Latrobe's celebration
        a(href='history.html').dropdown-item Past Banana Split Princesses
        a(href='history.html').dropdown-item Past Honorary Chairs