// Navbar (Solid background + shadow)
// Remove "navbar-sticky" class to make navigation bar scrollable with the page.
header.header.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-shadow.navbar-sticky(data-scroll-header data-fixed-element)
  .container.px-0.px-xl-3
    button(type='button' data-bs-toggle='offcanvas' data-bs-target='#primaryMenu').navbar-toggler.ms-n2.me-2
      span.navbar-toggler-icon
    a&attributes(isNestedFile ? {'href': '../index.html'} : {'href': 'index.html'}).navbar-brand.flex-shrink-0.order-lg-1.mx-auto.ms-lg-0.pe-lg-2.me-lg-4
      img(alt='Great American Banana Split Celebration' width='153')&attributes(isNestedFile ? {'src': '../img/logo/logo.svg'} : {'src': 'img/logo/logo.svg'}).d-none.d-lg-block
      img(alt='Great American Banana Split Celebration' width='58')&attributes(isNestedFile ? {'src': '../img/logo/logo.svg'} : {'src': 'img/logo/logo.svg'}).d-lg-none
    .d-flex.align-items-center.order-lg-3.ms-lg-auto
      a(href='schedule.html').btn.btn-primary.ms-grid-gutter.d-inline-block Schedule
    #primaryMenu.offcanvas.offcanvas-collapse.order-lg-2
      .offcanvas-header.navbar-shadow
        h5.mt-1.mb-0 Menu
        button(type='button' data-bs-dismiss='offcanvas' aria-label='Close').btn-close.lead
      .offcanvas-body
        //- partial/menu-primary
        include menu-primary