// Related articles
.widget.mb-5
  h3.widget-title Attending
  ul
    li.d-flex
      i.ai-book.text-muted.mt-2.me-2
      a(href='when-where.html').widget-link When and where is the event?
    li.d-flex
      i.ai-book.text-muted.mt-2.me-2
      a(href='parking.html').widget-link Where can I park?
    li.d-flex
      i.ai-book.text-muted.mt-2.me-2
      a(href='parking.html#handicap').widget-link Is there handicap parking?

