// Related articles
.widget.mb-5
  h3.widget-title.mb-2 Attending
  ul
    li.d-flex
      i.ai-book.text-muted.mt-2.me-2
      a(href='when-where.html').widget-link When and where is the event?
    li.d-flex
      i.ai-book.text-muted.mt-2.me-2
      a(href='parking.html').widget-link Where can I park?
    li.d-flex
      i.ai-book.text-muted.mt-2.me-2
      a(href='parking.html#handicap').widget-link Is there handicap parking?
  
.widget.mb-5
  h3.widget-title.mb-2 Promotion
  ul
    li.d-flex
      i.ai-book.text-muted.mt-2.me-2
      a(href='promotion.html#general').widget-link General promos
    li.d-flex
      i.ai-book.text-muted.mt-2.me-2
      a(href='promotion.html#vendors').widget-link For Vendors
    li.d-flex
      i.ai-book.text-muted.mt-2.me-2
      a(href='promotion.html#entertainers').widget-link For Entertainers

