//- Vendor scripts and styles
- var vendorStyles = []
- var vendorScripts = []

//- Body background color
- var bodyBgColor = ''

//- Page title
- var pageTitle = 'Banana Split Celebration'
- var pageSubtitle = ''
- var pageTitleLink = {}

//- Anchor navigation
- var anchorNav = []

//- Conditionals
- var isPageTitleBadge = false
- var isNestedFile = false
- var isSidebar = false
- var isPageFullHeigh = false
- var isNavbarButtonLight = false
- var isPageLoading = false

//- Active menu item
- var parentMenu
