//- Vendor scripts and styles
- var vendorStyles = []
- var vendorScripts = []

//- Body background color
- var bodyBgColor = ''

//- Page title
- var pageTitle = 'Banana Split Celebration'
- var pageSubtitle = ''
- var pageTitleLink = {}

//- Anchor navigation
- var anchorNav = []

//- Conditionals
- var isPageTitleBadge = false
- var isNestedFile = false
- var isSidebar = false
- var isPageFullHeigh = false
- var isNavbarButtonLight = false
- var isPageLoading = false
- var noIndex = false

//- Active menu item
- var parentMenu

//- Month and Day conversions
- const months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
- const monthsAbbv = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'];
- const daysAbbv = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
- const days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];