// 
// user-variables.scss
// Use this to override Bootstrap variables
//

// Brand colors
$primary:               #0757A4 !default;
$secondary:             #FFCC33 !default;
$info:		            #B0E2FF !default;
$success:               #16c995 !default;
$warning:               #ffb15c !default;
$danger:                #f74f78 !default;
